{% extends "core/base.html" %}
{% load i18n %}

{% block layout %}
  <div class="container vh-100">
    {# FIXED HEADER #}
    <div class="row vh-5 mt-2 align-items-center">
      <div class="col">
      </div>
      <div class="col-6">
        <div class="py-2 text-center">
          tickie
        </div>
      </div>
      <div class="col">
        <div class="float-end">
          <button class="btn btn-secondary"
                  hx-post="{% url "account:logout" %}"
                  hx-target="body">
            {% translate "Log out" %}
          </button>
        </div>
      </div>
    </div>

    {# FILLABLE HEADER #}
    <div class="row vh-5">
      <div class="col">
        {% block left_header_content %}
        {% endblock left_header_content %}
      </div>
      <div class="col-6">
        {% block center_header_content %}
        {% endblock center_header_content %}
      </div>
      <div class="col">
        {% block right_header_content %}
        {% endblock right_header_content %}
      </div>
    </div>

    {# BODY #}
    <div class="row vh-80">
      <div class="col my-5">
        {% block left_content %}
        {% endblock left_content %}
      </div>
      <div class="col-6 my-5">
        {% block center_content %}
        {% endblock center_content %}
      </div>
      <div class="col my-5">
      </div>
    </div>

    {# FOOTER #}
    <div class="row vh-10">
      {% block footer_content %}
      {% endblock footer_content %}
    </div>
  </div>
{% endblock layout %}
