{% extends "layouts/default_layout.html" %}
{% load i18n %}

{% block title %}
  {% translate "Events" %}
{% endblock title %}

{% block center_content %}
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">{% translate "ID" %}</th>
      <th scope="col">{% translate "Name" %}</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for event in event_list %}
      <tr class="align-middle">
        <th scope="row">{{ event.id }}</th>
        <td>{{ event.name }}</td>
        <td>
          <div class="float-end">
            <button type="button"
                    class="btn btn-secondary"
                    hx-get="{% url "guest:list" event_id=event.id %}"
                    hx-target="body"
                    hx-push-url="true">
              {% translate "to Guest List" %}
            </button>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock center_content %}
